---
// src/layout/Footer.astro
const currentYear = new Date().getFullYear();
import { Icon } from "astro-icon/components";

import { companyDetails } from "../../config/companyDetails";
import { navLinks } from "../../config/nav";
---

<footer class="footer">
  <section class="footer-cols">
    <div class="footer-container-1">
      <h4 class="footer-container-header">{companyDetails.name}</h4>
      <p class="footer-value">"Skriven mellom to språk"</p>
    </div>
  
  <div class="footer-container-2">
    <h4 class="footer-container-header">Navigasjon</h4>
    {navLinks.map((p) => <a href={p.href}>{p.name}</a>)}
  </div>
  <div class="footer-container-3">
    <h4 class="footer-container-header">Kontakt</h4>
    <div class="footer-address">
        <Icon name="mdi:email" class="size-6 shrink-0" /><p>
          {companyDetails.email}
        </p>
      </div>
      <div class="footer-address">
        <Icon name="mdi:house" class="size-6 shrink-0" /><div>
          <p>{companyDetails.streetAddress}</p>
          <p>{companyDetails.postalCode} {companyDetails.address}</p>
        </div>
        
      </div>
      <div class="footer-address">
        <Icon name="mdi:phone" class="w-5 h-5 mt-1 shrink-0" />
        <p>{companyDetails.phone}</p>
    </div>
    <div class="footer-some-container">

      {
        companyDetails.social.map((some) => (
          <a href={some.url}>
          <Icon name={some.icon} class="size-8 md:size-12" />
        </a>
      ))
    }
    </div>
  </div>
  </section>
  <div class="copyright"><p>&copy {companyDetails.name} {currentYear}</p></div>
</footer>
