---
import { Icon } from "astro-icon/components";
import Button from "./Button.astro";

interface Props {
    icon?: string;
    heading: string;
    body: string;
    cta: string;
    link?: string;
}

const { icon, heading, body, cta, link } = Astro.props;

---

<article class="card">
  {icon && <Icon name={icon} class="size-8 place-self-center pt-2" />}
  <h3
    class="card-header"
  >
    {heading}
  </h3>
  <p class="card-body">{body}</p>
  {link &&
  <Button  href={link} class="btn btn-secondary mt-3">{cta}</Button>}
</article>
